name: Build and publish binary release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up MSYS2 with UCRT64
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: |
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-qt6-base
            zip

      - name: Build
        shell: msys2 {0}
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build

      - name: Copy executable and dependencies
        shell: msys2 {0}
        run: |
          mkdir "hashcat-gui-${{ github.ref_name }}"
          cp build/hashcat-gui.exe "hashcat-gui-${{ github.ref_name }}/"
          cd "hashcat-gui-${{ github.ref_name }}/"
          # bundle needed libraries
          ldd hashcat-gui.exe | grep /ucrt64 | awk '{print $3}' | xargs -i cp {} .
          # Run Qt's windows deployment tool
          windeployqt6.exe hashcat-gui.exe \
            --release \
            --no-libraries \
            --no-translations \
            --no-quick-import \
            --no-system-d3d-compiler \
            --no-system-dxc-compiler \
            --no-compiler-runtime \
            --no-opengl-sw \
            --no-ffmpeg

      - name: Zip release artifacts
        shell: msys2 {0}
        run: |
          zip -r "hashcat-gui-${{ github.ref_name }}-windows-x64.zip" "hashcat-gui-${{ github.ref_name }}"

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: "hashcat-gui-${{ github.ref_name }}-windows-x64.zip"
