name: CI Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    strategy:
      matrix:
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            qmake_spec: linux-g++
          - compiler: clang
            qmake_spec: linux-clang
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential g++ clang qt6-base-dev

      - name: Build with ${{ matrix.compiler }}
        run: |
          cd src/
          qmake6 -config release -spec ${{ matrix.qmake_spec }}
          make

